<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Music</title>
    <link rel="stylesheet" href="/assest/font/forn_icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./PlayMusic.css">
    <link rel="stylesheet" href="/public/Global.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header-logo">
                <img src="/assest/img/logo-dark.svg" alt="Logo" class="header-logo-img">
            </div>
            <div class="header-with-search">
                <div class="header-input-wrap">
                    <input type="text" class="header-search-input" placeholder="Tìm kiếm ca sĩ, bài hát, album,...">
                </div>
                <button class="header-search">Tìm kiếm</button>
            </div>
            <div class="header-sign">
                <button class="header-sign-btn header-sign-up">Đăng ký</button>
                <span class="header-sign-span"></span>
                <button class="header-sign-btn header-sign-in">Đăng nhập</button>
            </div>
        </div>

        <div class="container">
            <div class="sidebar">
                <ul class="sidebar-list">
                    <li class="sidebar-item" >
                        <a class="link" href="/index.html">
                            <i class="ti-home sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Khám phá</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/PlayMusic/PlayMusic.html">
                            <i class="ti-control-play sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Nghe Nhạc</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/HistoryMusic/HistoryMusic.html">
                            <i class="ti-music sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Đã nghe gần đây</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/Library/Library.html">
                            <i class="ti-menu-alt sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Thư viện</h2>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content">
                <div class="content-bg">
                    <div class="content-main">
                        <div class="content-music">
                            <div class="music-section">
                                <div class="music-section-infor">
                                    <div class="music-section-now">Bài hát đang phát :</div>
                                    <div class="music-section-song">Thằng điên</div>
                                    <div class="music-section-author">Justatee x Phương Ly</div>
                                </div>
                                <div class="music-section-frame-img">
                                    <img src="/assest/img/banner-1.jpg" alt="Thằng điên" class="music-section-img">
                                    <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-section-img-drop">
                                </div>
                            </div>
        
                            <div class="music-track">
                                <input type="range" name="playing" class="music-track-progress" value="0" min="0" step="1" max="100">
                                <div class="music-loader1"></div>
                            </div>
                
                            <div class="music-time">
                                <span class="music-curtime" ></span>
                                <span class="music-sumtime" ></span>
                            </div>
        
                            <div class="music-control">
                                <div class="item music-control-add">
                                    <i title="repeat" class="ti-share"></i>
                                </div>
                                <div class="music-control-menu">
                                    <div class="item music-control-back-btn">
                                        <i class="ti-control-skip-backward"></i>
                                    </div>
            
                                    <div class="item music-control-play-pause">
                                        <i class="ti-control-play"></i>
                                        <!-- <i class="ti-control-pause"></i> -->
                                    </div>
            
                                    <div class="item music-control-next-btn">
                                        <i class="ti-control-skip-forward"></i>
                                    </div>
                                </div>
        
                                <div class="item music-control-shuffle">
                                    <i title="shuffle" class="ti-control-shuffle"></i>
                                </div>
                            </div>
                        </div>
                        <!-- list-music -->
    
                        <div class="list-music">
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>