<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ Nghe Nhạc</title>
    <link rel="stylesheet" href="/assest/font/forn_icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/Global.css">
    <link rel="stylesheet" href="./HomePage.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header-logo">
                <img src="/assest/img/logo-dark.svg" alt="Logo" class="header-logo-img">
            </div>
            <div class="header-with-search">
                <div class="header-input-wrap">
                    <input type="text" class="header-search-input" placeholder="Tìm kiếm ca sĩ, bài hát, album,...">
                </div>
                <button class="header-search">Tìm kiếm</button>
            </div>
            <div class="header-sign">
                <button class="header-sign-btn header-sign-up">Đăng ký</button>
                <span class="header-sign-span"></span>
                <button class="header-sign-btn header-sign-in">Đăng nhập</button>
            </div>
        </div>

        <div class="container">
            <div class="sidebar">
                <ul class="sidebar-list">
                    <li class="sidebar-item" >
                        <a class="link" href="/components/HomePage/HomePage.html">
                            <i class="ti-home sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Khám phá</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/PlayMusic/PlayMusic.html">
                            <i class="ti-control-play sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Nghe Nhạc</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/HistoryMusic/HistoryMusic.html">
                            <i class="ti-music sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Đã nghe gần đây</h2>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="link" href="/components/Library/Library.html">
                            <i class="ti-menu-alt sidebar-item-child"></i>
                            <h2 class="sidebar-item-child text-sidebar-item">Thư viện</h2>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content">
                <div class="content-bg">
                    <div class="banner-list">
                        <div class="banner-item">
                            <img src="/assest/img/banner-1.jpg" alt="Logo-Banner" class="banner-img">
                        </div>
                        <div class="banner-item">
                            <img src="/assest/img/banner-2.jpg" alt="Logo-Banner" class="banner-img">
                        </div>
                        <div class="banner-item">
                            <img src="/assest/img/banner-3.jpg" alt="Logo-Banner" class="banner-img">
                        </div>
                    </div>

                    <div class="content-main">
                        <div class="section">
                            <h3 class="section-header">Mới phát hành</h3>
                            <div class="section-type-music-list">
                                <div class="section-type-music-item active">Tất Cả</div>
                                <div class="section-type-music-item">Việt Nam</div>
                                <div class="section-type-music-item">Trung Quốc</div>
                                <div class="section-type-music-item">Âu Mỹ</div>
                            </div>
                        </div>
    
                        <div class="list-music">
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Em Của Ngày Hôm Qua Em C</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div><div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                            <div class="music-frame">
                                <div class="music-banner">
                                    <div class="music-logo">
                                        <img src="/assest/img/thang-dien.jpg" alt="Thằng điên" class="music-logo-img">
                                    </div>
                                    <div class="music-desc">
                                        <h1 class="music-name">Thằng điên</h1>
                                        <p class="music-author">Justatee x Phương Ly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="section">
                            <h3 class="section-header">Nhạc Tâm Trạng</h3>
                            <div class="section-album-list">
                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-1.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Người đừng lặng im đến thế</div>
                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-2.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Tình yêu thầm lặng</div>
                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-3.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Nỗi nhớ là một đóa hoa</div>

                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-4.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Nơi nào bình yên</div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <h3 class="section-header">Nhạc Remix</h3>
                            <div class="section-album-list">
                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-5.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Lê Bảo Bình, Quân A.P, Yến Tattoo,...</div>
                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-6.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Lê Bảo Bình, Quân A.P, Yến Tattoo,...</div>
                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-7.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Lê Bảo Bình, Quân A.P, Yến Tattoo,...</div>

                                </div>

                                <div class="section-album-item">
                                    <div class="section-album-card">
                                        <img src="/assest/img/card-8.jpg" alt="Logo-Card" class="section-item-img">
                                    </div>
                                    <div class="section-album-text">Lê Bảo Bình, Quân A.P, Yến Tattoo,...</div>
                                </div>
                            </div>
                        </div>
                    </div>

                        
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>


            